@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app was created for the course Server Programming at Haaga-Helia do demonstrate the students skillset</p>
