@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Gsponer
    Klaneettitie 1B 062
    00420 Helsinki
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:david.gsponer95@hotmail.com">david.gsponer95@hotmail.com</a><br />
</address>